In [10]:
%matplotlib notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
csv_file = "outdoor-pollution-death-rate.csv"
outdoor_df = pd.read_csv(csv_file)

In [12]:
outdoor_df.head()

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,37.40
1,Afghanistan,AFG,1991,36.10
2,Afghanistan,AFG,1992,35.13
3,Afghanistan,AFG,1993,35.29
4,Afghanistan,AFG,1994,35.88

In [15]:
# inf_mor_clean = infant_mortality_clean_df[["Location","Period","Dim1","FactValueNumeric"]]
countries = ["JPN", "USA","CHN","RUS","IND","DEU","ZAF","GBR","ISR","AUS"]
outdoor_df = outdoor_df.loc[(outdoor_df["Code"].isin(countries)) &
                                                          (outdoor_df["Year"] > 2009) &
                                                          (outdoor_df["Year"] < 2019)] 

outdoor_df

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Age-standardized (Rate)
320,Australia,AUS,2010,4.87
321,Australia,AUS,2011,4.75
322,Australia,AUS,2012,4.61
323,Australia,AUS,2013,4.53
324,Australia,AUS,2014,4.51
...,...,...,...,...
6354,United States,USA,2014,12.53
6355,United States,USA,2015,12.00
6356,United States,USA,2016,11.32
6357,United States,USA,2017,10.69
6358,United States,USA,2018,10.65

In [16]:
outdoor_df = outdoor_df[["Entity","Year","Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Age-standardized (Rate)"]]
outdoor_df

,Entity,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Age-standardized (Rate)
320,Australia,2010,4.87
321,Australia,2011,4.75
322,Australia,2012,4.61
323,Australia,2013,4.53
324,Australia,2014,4.51
...,...,...,...
6354,United States,2014,12.53
6355,United States,2015,12.00
6356,United States,2016,11.32
6357,United States,2017,10.69
6358,United States,2018,10.65

In [18]:
outdoor_df = outdoor_df.rename(columns={
    "Entity": "Country name",
    "Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Age-standardized (Rate)": "Outdoor Air Pollution Death Rate"
    })
outdoor_df

       Country name  Year  Outdoor Air Pollution Death Rate
320       Australia  2010                              4.87
321       Australia  2011                              4.75
322       Australia  2012                              4.61
323       Australia  2013                              4.53
324       Australia  2014                              4.51
...             ...   ...                               ...
6354  United States  2014                             12.53
6355  United States  2015                             12.00
6356  United States  2016                             11.32
6357  United States  2017                             10.69
6358  United States  2018                             10.65

[90 rows x 3 columns]

In [19]:
outdoor_df = outdoor_df.reset_index(drop=True)
outdoor_df

     Country name  Year  Outdoor Air Pollution Death Rate
0       Australia  2010                              4.87
1       Australia  2011                              4.75
2       Australia  2012                              4.61
3       Australia  2013                              4.53
4       Australia  2014                              4.51
..            ...   ...                               ...
85  United States  2014                             12.53
86  United States  2015                             12.00
87  United States  2016                             11.32
88  United States  2017                             10.69
89  United States  2018                             10.65

[90 rows x 3 columns]